<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/css/main-register.css">
    <link rel="stylesheet" href="/styles/css/main.css">
    <link rel="stylesheet" href="/styles/css/util.css">
    <link rel="stylesheet" href="/styles/dashboard/main.css">
    <link rel="stylesheet" href="/styles/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="/styles/vendor/animate/animate.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/vendor/css-hamburgers/hamburgers.css">
    <link rel="stylesheet" href="/styles/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/styles/vendor/select2/select2.css">
    <link rel="stylesheet" href="/styles/vendor/select2/select2.min.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/js/closeAlert.js"></script>
    <script src="/js/dashboard/main.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
